<div class="main-div container-fluid">

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Ma collection</h1>

        <div>
        <input type="text" class="form-control"
               placeholder="Rechercher un objet..."
               [(ngModel)]="textFilter"
               >
          <h2>{{ textFilter() }}</h2>
        </div>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row d-flex justify-content-center">
        <button type="button" class="btn btn-primary mb-3"
                [routerLink]="['/addNew']">
          Ajouter un objet
        </button>
      </div>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        @for (objet of filteredList; track objet.Id_Objet) {

          <div class="col">
            <div class="card shadow-sm">

              @if (objet.Media) {
                <div class="bd-placeholder-img card-img-top">
                  <img [src]="getPrimaryMediaUrl(objet.Media)"
                       alt="{{ objet.Nom }}"
                  >
                </div>
              } @else {


                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                     xmlns="http://www.w3.org/2000/svg"
                     role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                     focusable="false">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c"/>
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ objet.Nom }}</text>
                </svg>
              }

              <div class="card-body">
                <h5 class="card-title">{{ objet.Nom }}</h5>
                <p class="card-text">{{ objet.Description || '...' }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                    @if (isUserProprietaire(objet)) {
                      <a type="button" [routerLink]="['/editOne', objet.Id_Objet]"  class="btn btn-sm btn-outline-secondary">Modifier</a>
                    }

                  </div>
                  <small class="text-muted">#{{ objet.Id_Objet }} - ajouté le {{ objet.DateAjout | date }}</small>
                </div>
              </div>
            </div>
          </div>


        } @empty {
          <img src="empty.png" alt="Aucune collection d'objets trouvée"
               class="img-fluid mx-auto d-block">
        }

      </div>


    </div>

  </div>

</div>
