<div class="panels form-container overflow-hidden">
  <!-- Zone 1 : Photos -->
  @switch (currentZone()) {
    @case (0) {
      <div class="panel vh-100 d-flex flex-column justify-content-center align-items-center" id="zone-photos">
        <h2>1. Photos</h2>
        <!-- Contenu à remplir plus tard -->


        <app-photo-payload (photoSelected)="onPhotoSelected($event)" ></app-photo-payload>


      </div>
    }

    @case (1) {
      <div class="panel vh-100 d-flex flex-column justify-content-center align-items-center" id="zone-preview-photos">
        <h2>Aperçu de la photo</h2>
        <!-- Contenu à remplir plus tard -->

        @if (photoSelected()) {
          <img class="preview" [src]="photoSelected()" alt="Prévisualisation">
        } @else {

          <div class="alert alert-info">
            Aucune photo sélectionnée.
          </div>
        }


      </div>
    }

    @case(2) {
      <!-- Zone 2 : Nom de l'objet -->
      <div class="panel vh-100 flex-grow-1 d-flex flex-column justify-content-center align-items-center" id="zone-nom"
           hidden>
        <h2>2. Nom de l'objet</h2>

        <div class="mb-1">

          <input id="name" type="text" class="form-control"
                 placeholder="ex. Batman #1" >
        </div>

      </div>
    }

    @case(3) {
      <!-- Zone 3 : Description, catégorie, mots-clés -->
      <div class="panel vh-100 flex-grow-1 d-flex flex-column justify-content-center align-items-center" id="zone-details"
           hidden>
        <h2>3. Détails</h2>
        <!-- Contenu à remplir plus tard -->
      </div>
    }

    @case(4) {
      <!-- Zone 4 : Résumé et confirmation -->
      <div class="panel vh-100 flex-grow-1 d-flex flex-column justify-content-center align-items-center" id="zone-final"
           hidden>
        <h2>4. Résumé et confirmation</h2>
        <!-- Contenu à remplir plus tard -->
      </div>
    }
  }










  <!-- Footer navigation -->
  <div class="form-footer position-fixed bottom-0 start-0 w-100 p-3 d-flex justify-content-between align-items-center"
       style="background: rgba(0,0,0,0.05);">
    <button class="btn btn-light" (click)="prevZone()" [disabled]="currentZone() === 0">Précédent</button>
    <button class="btn btn-dark" (click)="nextZone()" [disabled]="currentZone() === zones.length - 1">Suivant</button>
  </div>
</div>




