.preview {
  width: 100%;
}

.panels {
  #zone-photos {
    background: #b6b6fa; // Bleu électrique rétro
    color: #272727;
  }

  #zone-nom {
    background: #a259f7; // Violet néon
    color: #fff;
  }

  #zone-details {
    background: #23272a; // Gris anthracite
    color: #fff;
  }


  #zone-final {
    background: #2ec4b6; // Vert menthe geek
    color: #fff;
  }



}

.panel {

  & .btn {
    background: white;
  }
}


