.preview {
  width: 100%;
}

.panels {
  #zone-photos {
    background: #b6b6fa; // Bleu électrique rétro
    color: #272727;
  }

  #zone-nom {
    background: #a259f7; // Violet néon
    color: #fff;

    & .btn {
      background: white;
    }

    input {
      width: 100vw;
      max-width: 600px;
    }
  }

  #zone-details {
    background: #23272a; // Gris anthracite
    color: #fff;

    & .btn {
      background: white;
    }
  }


  #zone-final {
    background: #2ec4b6; // Vert menthe geek
    color: #fff;
  }



}

.panel {




  .panel-content {
    width: min(960px, 92vw);  // limite confortable
    margin-inline: auto;      // centre le contenu
    padding: 2rem 1rem;       // respiration
  }
}


