<div class="m-1 d-flex justify-content-between">
  @for (t of tabs; track t.id) {
    <button class="btn"
            [class.btn-success]="mode!==t.id"
            [class.btn-outline-success]="mode===t.id"
            (click)="switchMode(t.id)"
    >
      {{ t.label }}
    </button>
  }
</div>


<div class="modes-photos">
  @if (mode === 'upload') {

    <div class="row p-1">
      <div class="input-group mb-3">
        <input #fileInput class="form-control"  type="file" accept="image/*" capture="environment" (change)="onFileChange($event)">

      </div>
    </div>





    @if (error) {
      <div class="error">{{ error }}</div>
    }
  } @else {
    <div class="row p-1">
      <div class="input-group mb-3">

      <input class="form-control"  type="url" [(ngModel)]="imageUrl" placeholder="https://exemple.com/image.jpg" >
      <button class="btn btn-primary" (click)="loadFromUrl()">Charger</button>
      </div>
    </div>
    <small>Astuce : le serveur distant doit autoriser CORS, sinon le chargement peut échouer.</small>


    @if (error) {
      <div class="error">{{ error }}</div>
    }
  }
</div>












