[site]
url= # URL of the site, e.g. http://localhost/collection

[dbb]
host= # Database host, e.g. localhost
port= # Database port, e.g. 3306
user= # Database user
password= # Database password
dbname= # Database name

[miniPhpFw]
uriSliceOffset=2

[upload]
folder=uploaded # Folder for uploaded files on server
allowRemoteDownload=true # Allow downloading files from remote URLs
allowSaveBase64=true # Allow saving base64 encoded files

[mail]
fromName= # Name for the mail sender
mailPwd= # Password for the mail account